body {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5%;
  background-color: lightblue;
}

img {
  width: 300px;
  height: 200px;
}

.form-group label {
  font-weight: bold;
}